@*@model Domain.Entities.Book*@
@*добавлякм пространство имен*@
@*@using Domain.Entities*@
@*меняем модель с которой будем работать*@
@*@model IEnumerable<Book>*@
@using WebUI.Models
@using WebUI.HTMLHelpers
@model BookListViewModel

@{
    ViewBag.Title = "Товары";
}
@foreach (var p in Model.Books)
{
/*<div class="well">
    <h3>
        <strong>@p.Name</strong>
        @*# подменяет число*@
        <span class="pull-right label label-primary">@p.Price.ToString("# руб")</span>
    </h3>
    <span class="lead">@p.Description</span>

</div>*/
@Html.Partial("BookSummary", p)
}
<div class="btn-group pull-right">
    @Html.PageLinks(Model.PagingInfo, x=>Url.Action("List", new {page = x }))
</div>



